.btn {
   background: transparent;
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3px;
}

.btn i {
   margin-right: 7px;
}

.btn-user-crud.btn-add-user {
   background: var(--second-color);
   color: var(--main-color);
   padding: 7px 20px;
   border: none;
}