@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
   --main-color: #fff;
   --second-color: #555a88;
   --red-color: #d85d5d;
   --gray-color: #f6f6f6;
   --main-font-color: #0f0f2d;
   --main-font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   color: var(--main-font-color);
   font-family: var(--main-font-family);
}

.App {
   background: pink;
   width: 90%;
   max-width: 1200px;
   margin: auto;
}

